.form {
  &__input {
    margin-bottom: 30px;
    border-radius: var(--radius-main);
    padding: 15px 30px;
    width: 100%;
    background-color: var(--color-gray);

    &::placeholder {
      color: rgba(0, 29, 61, 0.5);
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  &__message {
    min-height: 155px;
    resize: none;
  }
}
