.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  font-style: normal;
  font-size: var(--size);
  line-height: 1;
  letter-spacing: 0;
  -webkit-text-size-adjust: 100%;
  color: var(--color-black);
  background-color: var(--color-white);
  scroll-behavior: smooth;
  overscroll-behavior-y: none;

  &-body {
    margin: 0;
    height: var(--vh);
    min-width: 320px;
    min-height: 100%;
  }
}

.site-container {
  overflow: hidden;
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: transparent;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.burger {
  @include burger;
  z-index: 10;

  display: none;

  @include for-width(-mobile-l) {
    display: block;
    margin-right: 20px;
  }
}

.space {
  margin-bottom: 100px;
}

.phone {
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 26px;
    height: 26px;
    background-image: url("../img/icon/phone.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-100%, -6px);
  }
}
